<div class="hero">
    <div class="background">
        <img class="img-responsive" src="{{ page.cloud }}layout/bi-hero.jpg">
    </div>
    <div class="words">
        <div class="top">YOUR&nbsp;HOME</div>
        <div class="bottom">BETTER</div>
        <div class="description hidden-xs">
            <div class="lead">
                From additions to remodels, we create beautiful spaces to be enjoyed for a lifetime.
                <br/><strong>It's what we do.</strong>
            </div>
            <div>
                Are you an architect? <a href="{{ site.baseurl }}commercial">See how we can help.</a>
            </div>
        </div>
    </div>
</div>