<section id="what-we-do" class="features gray-section separated">
    <div class="container" id="i18_career">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><span>Our Expertise</span></h1>
            </div>
        </div>
        <div class="row features-block">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="http://res.cloudinary.com/dkgdmm4z9/image/upload/h_470,w_600,c_lfill/v1475445272/projects/Worley.jpg" alt="Sun Structures">
                    <div class="description">
                        <h1><span>Sun Structures&#8482;</span></h1>

                        <p class="quote">
                            <strong>For two decades</strong>, we have constructed quality rooms and additions that invite you to enjoy your outdoor surroundings beyond the summer months.
                        </p>
                        <p class="quote">
                            Whether it's a greenhouse, English conservatory, or conventional four-season room, we can help you find the solution that fits your needs.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <img src="http://res.cloudinary.com/dkgdmm4z9/image/upload/h_470,w_600,c_lfill/v1475444625/projects/McCoyExterior.jpg" alt="Additions">
                    <div class="description">
                        <h1><span>Additions</span></h1>
                        <p class="quote">
                            <strong>We specialize in adding space to your house or business.</strong>
                        </p>
                        <p class="quote">
                            The typical construction method is conventional framing for ground floor additions, second-story work like that over-the-garage master suite you have thought about, bump-outs and garages. We also have experience in post-and-beam construction and panelized SIP methods for energy-efficient structures.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <img src="http://res.cloudinary.com/dkgdmm4z9/image/upload/h_470,w_600,c_lfill/v1476056744/HomeReno.jpg" alt="Remodeling">
                    <div class="description">
                        <h1><span>Remodeling</span></h1>
                        <p class="quote">
                            This work includes moving around walls and door openings to change your home as your lifestyle changes.
                        </p>
                        <p class="quote">
                            We incorporate universal design principles to <strong>improve the efficiency and safety</strong> of your kitchen or bathroom. Or perhaps you wish to finish your basement, convert attic space, or <strong>modernize</strong> your exterior façade and entryway. We can also address your detached structures such as garden and pool houses, pergolas, gazebos or decking.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <img src="http://res.cloudinary.com/dkgdmm4z9/image/upload/h_470,w_600,c_lfill/v1476056737/blueprint.jpg" alt="Design">
                    <div class="description">
                        <h1><span>Design</span></h1>
                        <p class="quote">
                            We added in-house design capabilities to our work years ago for two simple reasons: <strong>to save you time and money.</strong>
                        </p>
                        <p class="quote">
                            With our computer-aided design software, you can consider instantaneous plan changes while sitting at your kitchen table. Or, try different color schemes and furniture placement during a virtual tour of your remodeling project. When more expertise is needed, we call upon our architectural and engineering partners to bring the crowning touch to your project.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <img src="http://res.cloudinary.com/dkgdmm4z9/image/upload/h_470,w_600,c_lfill/v1476056478/Smith_Island_Crpd_Fxd.jpg" alt="Kitchens & Bath">
                    <div class="description">
                        <h1><span>Kitchens & Baths</span></h1>
                        <p class="quote">
                            Bringing your kitchen or bathroom up to date with new cabinets, counter-tops, flooring, fixtures and lighting will immediately change the feel of your home.
                        </p>
                        <p class="quote">
                            We constantly monitor the latest trends, styles and products <strong>so your home makes a statement</strong>. Improve for energy-efficiency, safety, or create special spaces for gatherings of friends and family.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="col-xs-12 text-center">
            <div class="col-xs-12 col-md-6 col-md-offset-3 browse-link"><a href="/portfolio">Browse our portfolio</a> for ideas that fit your vision and your home.</div>
        </div>

        </div>
    </div>
</section>