/** MY STUFF */

.img-responsive {
    display:inline-block;
}

.landing-page .carousel-inner > .item > h3{
    text-align: center;
}

.hero {
    position:relative;
}

    .hero .background {
        width:100%;
        position:relative;
        left:0;
        top:0;
    }

    .hero .background img {
        min-width: 100%;
    }

    .hero .words {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px 0 0;
        text-align:left;
    }

    .hero .words .top {
        font-size: 5em;
        color: white;
        width:inherit;
        text-align: inherit;
        line-height: 80%;
    }

    .hero .words .bottom {
        font-size: 8em;
        color: #073c63;
        text-align: inherit;
        width:inherit;
        line-height: 80%;
    }

    .hero .words .description {
        background: rgba(40,40,40,.85);
        padding:20px;
        color: white;
        text-align: inherit;
        width:inherit;
    }

.divider {
    background: #444;
    content:"";
    height:10px;
    width:100%;
}

.browse-link {
    border: 1px solid #444444;
    padding: 20px;
    margin-top: 20px;
}

.tag {
    padding: 20px;
    border: 1px solid #444;
    font-size:12px;
    display:inline-block;
    margin:10px;
    cursor:pointer;
}

.tag-selected {
    background:#073c63;
    color:white;
}


.landing-page .navbar-default .navbar-brand:hover,.landing-page .navbar-default .navbar-brand:focus{
    background: #000000;
}

.landing-page .navbar-default .navbar-brand{
    color:#fff;
    height:auto;
    display:block;
    font-size:14px;
    background:#000000;
    padding:8px;
    border-radius:0 0 5px 5px;
    font-weight:700;
    transition:all .3s ease-in-out 0s
}

.landing-page .navbar-default .navbar-brand img {
    height:50px;
}

.landing-page .navbar.navbar-scroll .navbar-brand {
    margin: 5px 0;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    height: auto;
}

.landing-page .carousel-indicators {
    bottom: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    width: auto;
    top: -15px;
}

.landing-page .carousel .item {
    height: 520px;
    width: 100%;
}

.landing-page .carousel-inner > .item > .flexed-item > img {
    width: 100%;
    height: auto;
}

section.separated:after{
    content:"";
    height:20px;
    width:100%;
    background: #444;
    display:block;
    margin-top:30px;
}

.landing-page section.timeline {
     padding-bottom: 0;
}
.landing-page .gray-section {
    margin-top: 0;
}

.landing-page section p.quote, p.quote {
    color: #aeaeae;
    font-size: 1.5em;
    font-weight:200;
}

.social-icon {
    padding:20px;
}

#our_mission {
    padding-top: 40px;
}

.flex-gallery {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

@media(min-width:768px){
    .hero .words {
        max-width: 60%;
    }

    .product-lists {
        display: flex;
        justify-content: space-around;
    }

    .product-logos {
        display: flex;
        align-items: baseline;
        padding: 15px 0;
    }
}

@media (min-width: 992px){

    .hero .words {
        width:880px;
        text-align:right;
    }

        .hero .words .top {
            font-size: 10em;
        }

        .hero .words .bottom {
            font-size: 15em;
        }

    .landing-page .carousel-inner > .item > .flexed-item {
        background:#f4f4f4;
        display: flex;
        opacity: 0;
    }
    .landing-page .carousel-inner > .item.active > .flexed-item,
    .landing-page .carousel-inner > .item.next > .flexed-item {
        opacity: 1;
    }

    .landing-page .carousel-inner > .item > .flexed-item > img {
        width: auto;
        min-width: 0;
        max-width: 600px;
        height: 470px;
        position: inherit;
    }

    .landing-page .carousel-inner > .item > .flexed-item > .description {
        background-color:#f4f4f4;
        width: 300px;
        padding-left: 20px;

    }

}

@media (min-width: 1200px){
    .flex-child {
        margin:10px;
    }

    .flex-thumbnail {
        height:200px;
    }
}
